affine==2.3.0
attrs==20.2.0
aws-xray-sdk==2.6.0
boto3==1.15.15
botocore==1.18.15
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
coreapi==2.3.3
coreschema==0.0.4
crick==0.0.3
cycler==0.10.0
Django==2.2.15
django-cors-headers==3.5.0
django-filter==2.3.0
django-jsonfield==1.4.0
django-storages==1.10.1
djangorestframework==3.11.1
drf-yasg==1.17.1
future==0.18.2
idna==2.10
importlib-metadata==2.0.0
inflection==0.5.1
itypes==1.2.0
Jinja2==2.11.2
jmespath==0.10.0
jsonfield==3.1.0
jsonpickle==1.4.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.2
mercantile==1.1.6
numpy==1.19.1
packaging==20.4
Pillow==7.2.0
psycopg2==2.8.6
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
rasterio==1.1.5
requests==2.24.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
Shapely==1.7.1
six==1.15.0
snuggs==1.4.7
sqlparse==0.4.1
tqdm==4.50.0
uritemplate==3.0.1
urllib3==1.25.10
wrapt==1.12.1
zipp==3.3.0
